/* Avery 3348 preset */

/* Printer calibration knobs (apply to print only)
   Use negative values to move content up/left, positive to move down/right. */
:root {
  --label_offset_x: 0mm;
  --label_offset_y: 0mm;
  --label_gap_x: 6mm;
  --label_gap_y: 0mm;
}

@media print {
  @page {
    margin: 0;
  }

  .preset-3348 .labels {
    margin-left: var(--label_offset_x);
    margin-top: var(--label_offset_y);
  }
}

.preset-3348 .labels {
  grid-template-columns: repeat(auto-fill, 67mm);
}

.preset-3348 .label {
  width: 67mm;
  height: 38mm;
  padding: 4mm;
}

.preset-3348 .label-code {
  font-size: 22px;
}

.preset-3348 .label.asset .label-qr {
  width: 26mm;
  height: 26mm;
}

.preset-3348 .label.content .label-text {
  font-size: 18px;
  padding: 0 3mm;
}
