<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/help.css">
    <link rel="stylesheet" href="/static/labels.css">
    {% block head_extra %}{% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>


<body>
    <header class="header">
        <a href="/" class="header-link">
            <div class="title">{{ app_title }} <span class="app-version">v{{ app_version }}</span></div>
            <div class="sub">
                {% if title and title != app_title %}{{ title }}{% else %}Personal self-hosted database{% endif %}
            </div>
        </a>
        <nav class="nav">
            <a href="/" class="navlink">Inventory</a>
            <a href="/containers/labels" class="navlink">Labels</a>
            <a href="/restore" class="navlink">Restore</a>
            <a href="/help" class="navlink">Usage</a>
        </nav>
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        <span>Tip: search by Container ID (e.g., BX-03).</span>
        {% endblock %}
    </footer>

</body>


</html>